/**
 * Github Dark theme for Prism.js
 * Based on Github: https://github.com
 * @author Katorly
 */
/* General */
.dark pre[class*="language-"],
.dark code[class*="language-"] {
  color: #c9d1d9;
  font-size: 13px;
  text-shadow: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.dark pre[class*="language-"]::selection,
.dark code[class*="language-"]::selection,
.dark pre[class*="language-"]::mozselection,
.dark code[class*="language-"]::mozselection {
  text-shadow: none;
  background: #234879;
}
@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}
.dark pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  background: var(--color-muted);
}
.dark :not(pre) > code[class*="language-"] {
  padding: .1em .3em;
  border-radius: .3em;
  color: #c9d1d9;
  background: #343942;
}
/* Line highlighting */
.dark pre[data-line] {
  position: relative;
}
.dark pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}
.dark .line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #2f2a1e;
  box-shadow: inset 5px 0 0 #674c16;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
/* Tokens */
.dark .namespace {
  opacity: .7;
}
.dark .token.comment,
.dark .token.prolog,
.dark .token.doctype,
.dark .token.cdata {
  color: #8b949e;
}
.dark .token.punctuation {
  color: #c9d1d9;
}
.dark .token.property,
.dark .token.tag,
.dark .token.boolean,
.dark .token.number,
.dark .token.constant,
.dark .token.symbol,
.dark .token.deleted {
  color: #79c0ff;
}
.dark .token.selector,
.dark .token.attr-name,
.dark .token.string,
.dark .token.char,
.dark .token.builtin,
.dark .token.inserted {
  color: #a5d6ff;
}
.dark .token.operator,
.dark .token.entity,
.dark .token.url,
.dark .language-css .token.string,
.dark .style .token.string {
  color: #a5d6ff;
  background: var(--color-muted);
}
.dark .token.atrule,
.dark .token.attr-value,
.dark .token.keyword {
  color: #a5d6ff;
}
.dark .token.function {
  color: #d2a8ff;
}
.dark .token.regex,
.dark .token.important,
.dark .token.variable {
  color: #a8daff;
}
.dark .token.important,
.dark .token.bold {
  font-weight: bold;
}
.dark .token.italic {
  font-style: italic;
}
.dark .token.entity {
  cursor: help;
}