@import './vars.sass'
  
body
  position: relative
  background-color: var(--background)
  overflow-y: scroll
  -webkit-tap-highlight-color: transparent
  transition: color .4s ease

  &::before
    content: ''
    position: fixed
    top: 0
    left: -115%
    width: 215%
    height: 100vh
    background: linear-gradient(100deg, #fff 0%, #fff 50%, transparent 50%)
    z-index: -1
    transition: all .8s ease

  &::after
    content: ''
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-image: url(/img/noise.png)
    opacity: 0.75
    z-index: 100
    pointer-events: none

  &[data-theme="light"]
    color: #000
    
    &::before
      left: 0

  &.is-sleeping
    overflow: hidden

  &[data-dyslexia-mode="true"]
    *
      font-family: var(--font-dyslexia) !important

    article
      line-height: unset

body,
button,
input,
select
  font-family: var(--font-primary)
  font-weight: 300
  font-size: 1rem
  color: #fff

a
  color: inherit
  text-decoration: none

.content
  font-family: var(--font-secondary)
  font-size: var(--readingFontSize)
  line-height: calc(32px + var(--readingLineHeight))
  color: #ccc
  transition: color .4s ease

  li + li
    margin-top: 0.25em

  p:not(:last-child), dl:not(:last-child), ol:not(:last-child), ul:not(:last-child), blockquote:not(:last-child), pre:not(:last-child), table:not(:last-child), img:not(:last-child)
    margin-bottom: 2em

  h1, h2, h3, h4, h5, h6
    font-family: var(--font-primary)
    color: var(--primary-light)
    font-weight: 600
    line-height: 1.125

  h1
    font-size: 2em
    margin-bottom: 0.5em

    &:not(:first-child)
      margin-top: 1em

  h2
    font-size: 1.25em
    margin-bottom: 0.8em

    &:not(:first-child)
      margin-top: 3rem

  h3
    color: #fff
    font-size: 1.125em
    margin-bottom: 0.8em

    &:not(:first-child)
      margin-top: 1.3333em

  h4
    font-size: 1.25em
    margin-bottom: 0.8em

  h5
    font-size: 1.125em
    margin-bottom: 0.8888em

  h6
    font-size: 1em
    margin-bottom: 1em

  a
    position: relative
    display: inline-block
    color: #fff
    text-shadow: 0 0 0.25rem #fff
    text-decoration: none
    transition: all .2s ease

    &::before
      content: ''
      position: absolute
      left: 0
      bottom: 2px
      width: 100%
      height: 2px
      background-color: var(--primary)
      transition: all .2s ease
      z-index: -1

    &:hover::before
      height: calc(100% - 2px)

  blockquote
    background-color: rgba(#fff, .1)
    border-left: 5px solid var(--primary)
    border-radius: .25rem
    padding: 1.25em 1.5em

  ol
    list-style-position: outside
    margin-left: 2em
    margin-top: 1em

    &:not([type])
      list-style-type: decimal

      &.is-lower-alpha
        list-style-type: lower-alpha

      &.is-lower-roman
        list-style-type: lower-roman

      &.is-upper-alpha
        list-style-type: upper-alpha

      &.is-upper-roman
        list-style-type: upper-roman

  ul
    list-style: disc outside
    margin-left: 2em
    margin-top: 1em

    ul
      list-style-type: circle
      margin-top: 0.5em
      margin-bottom: 0.5em !important

      ul
        list-style-type: square

    li::marker
      color: var(--primary)

  dd
    margin-left: 2em

  figure
    margin-left: 2em
    margin-right: 2em
    text-align: center

    &:not(:first-child)
      margin-top: 2em

    &:not(:last-child)
      margin-bottom: 2em

    img
      display: inline-block

    figcaption
      font-style: italic

  code:not([class])
    font-size: 1rem
    background-color: rgba(#fff, .1)
    padding: 0 .25rem
    border-radius: .25rem
    color: var(--primary-light)

  sup, sub
    font-size: 75%

  table
    width: 100%

    td
      border: 1px solid #dbdbdb
      border-width: 0 0 1px
      padding: 0.5em 0.75em
      vertical-align: top

    th
      border: 1px solid #dbdbdb
      border-width: 0 0 1px
      padding: 0.5em 0.75em
      vertical-align: top
      color: #fff

      &:not([align])
        text-align: inherit

    thead
      td, th
        border-width: 0 0 2px
        color: #fff

    tfoot
      td, th
        border-width: 2px 0 0
        color: #fff

    tbody tr:last-child
      td, th
        border-bottom-width: 0

  .tabs li + li
    margin-top: 0

  .file-title
    margin-bottom: 0 !important
    padding: .5rem 1rem
    font-size: 1rem
    font-weight: 600
    color: #fff
    background-color: rgba(#fff, .15)
    border-top-left-radius: 1rem
    border-top-right-radius: 1rem

    + pre
      margin-top: 0
      border-top-left-radius: 0
      border-top-right-radius: 0

  img,
  video
    border-radius: 1rem

    &.inline
      margin-bottom: 0
      vertical-align: bottom
      border-radius: .25rem

  .showcase
    display: flex
    gap: 1rem

    &.is-spotify iframe
      flex-grow: 1
      width: 1px
      border-radius: 12px

  .heading-link
    color: $whiteish
    text-shadow: none
    opacity: 0

    &:hover
      color: #fff

    svg
      width: 1rem
      height: 1rem

    &::before
      content: none

  *:hover .heading-link
    margin-left: .5rem
    opacity: 1

body[data-theme="light"] .content
  color: #000

  a:not(:hover)
    color: #000
    text-shadow: none

  h3
    color: #000

  blockquote
    background-color: rgba(var(--primary-rgb), .1)

  code:not([class])
    background-color: rgba(var(--primary-rgb), .25)

  img,
  video
    box-shadow: rgba(#000, .05) 0 0 0 1px

  .file-title
    background-color: var(--primary)

  .heading-link
    color: rgba(#000, .5) !important

    &:hover
      color: #000 !important

::selection
  color: #fff
  background: var(--primary-light)

@media screen and (max-width: 768px)
  body::before
    width: 250%
    left: -150%

  .content a
    display: unset
    border-bottom: 2px solid var(--primary)

    &::before
      content: unset
      display: none

  .content .showcase
    flex-direction: column