$primary: #6930c3
$primary-light: #8968d3
$background: #070212
$whiteish: rgba(255, 255, 255, .75)
$hr: 1px solid rgba(255, 255, 255, .1)
$font-emoji: Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
$font-primary: 'Rubik', sans-serif, $font-emoji
$font-secondary: 'Karla', sans-serif, $font-emoji